body{text-align: center; margin:0px; padding:0px}
header{border-bottom: 2px solid rgb(189, 176, 1);height:6.5em}
.fromulated{text-align: center;display: flex;justify-content: center;
     background-color: rgb(255, 255, 4);width:30%;
     margin:auto; margin-top:0;
     border-radius: 20px;padding:10px;box-shadow: 2px 2px 0px 0px grey;}
@media only screen and (max-width:480px) {
  .fromulated{width:60%}
  .input{
       width:50%
  }
        }
input{padding:10px; margin:10px; width:70%; border-radius:5px}
.names{display: flex;flex-wrap: wrap;text-align: center; position: relative;}
.pe{display: flex;flex-wrap: wrap;text-align: center; position: relative;}
.dp{display: flex;flex-wrap: wrap;text-align: center; position: relative;}
.pfromulated{text-align: center;margin-top:2%}
.logo{height:100px;width:150px;position: absolute; left:2px}
table{border-collapse: collapse;background-color: yellow;margin:auto; margin-top:5px;width:100%}
table,th,td{border:1px solid rgb(0, 0, 0)}
th{font-size: 1.2em;}
h2{margin:0px}
.list{margin-top:.5em;}
.about{box-shadow: 2px 0px 2px 0px grey;}
label{text-align: left;}
button{background-color:rgb(14, 179, 230);height:2em;border:none; 
     widows: 4.5em;box-shadow: 1px 1px 0px 0px grey;border-radius: 5px;
     color:rgb(223, 226, 5);cursor: pointer;}
button:hover{background-color:white;color:rgb(14, 179, 230);border:1px solid rgb(14, 179, 230);}

.danger-btn{background-color:rgb(230, 14, 14);height:2em;border:none; 
     widows: 4.5em;box-shadow: 1px 1px 0px 0px grey;border-radius: 5px;
     color:rgb(255, 255, 255);cursor: pointer;}
.danger-btn:hover{background-color:white;color:rgb(247, 9, 9);border:1px solid rgb(230, 28, 14);}

.canc{text-decoration: none;background-color:rgb(14, 179, 230);padding:4px;
     border:1px solid rgb(14, 179, 230);
     width:5em;box-shadow: 1px 1px 0px 0px grey;border-radius: 5px;
     color:rgb(223, 226, 5);cursor: pointer;}
.canc:hover{background-color:white;color:rgb(14, 179, 230);border:1px solid rgb(14, 179, 230);}
footer{height:20%;background-color:rgb(95, 95, 95);margin:0px;padding:0px;
     margin-top:30px;color:white;position: absolute;left: 0;bottom: 0;width:100%;}