<section class="about">
    <p>Heritage Skills Development Center is a 
        Non-profit organization established in 1993.
        We are rendering a free training at the moment on HARM 
        REDUCTION PRACTICES and other related topics.
        Complete the form below to register</p>


</section>

<section>
<div class="pfromulated">
<div class="fromulated">

<form method="POST" action="/all">
    <%-include("_form_fields.ejs") %>

    <a href="/" class="canc">Cancel</a>
    <button type="submit">Register</button>
</form>

</div>
</div>
</section>
