<main>
<h2 class="aboutM">About</h2>
<section class="about">
    <p>Heritage Skills Development Center is a 
        Non-profit organization established in 1993,
        With a mission to improve the health, social,
        cultural, economic self sufficiency and well-being
        of new immigrants,refugees, at risk children and youth,
        women and other marginalized individuals through integrative,
        empowering programs  and services. We are currently recruiting
        peer leaders, if you are within ages 18-30 years of age and have
        had lived experiences with substance use, looking to make a
        difference in society.
        You will be trained on HARM REDUCTION PRACTICES and other related topics. 
        Interested individuals can complete the form below to sign up
    </p>
</section>

<section>
<div class="pfromulated">
<div class="fromulated">

<form method="POST" action="/all">
    <%-include("_form_fields.ejs") %>

    <a href="/" class="canc">Cancel</a>
    <button type="submit">Register</button>
</form>

</div>
</div>
</section>
</main>